---
import CoursePage from '../layouts/coursePage.astro';
import {renderDuration} from '../js/utilities.js'
import VideoComponent from '../components/VideoComponent.astro';
import GameComponent from '../components/GameComponent.astro';
export async function createCollection() {
    const coursesData = Astro.fetchContent('../markdown/mfs/*.md');
    return {
    route: `/mf/:id`,
    paths() {
      return coursesData.map((course, i) => ({params: {id: course.id}}));
    },
    async props({ params }) {
      return {
        course: coursesData.find((course) => course.id === params.id)};
    },
  };
}
const {course} = Astro.props;
const duration = renderDuration(course.firstSession, course.lastSession);
---
<CoursePage>
    <div class="h-14 relative">
      <div class="px-0 py-2 absolute top-0 left-0 text-gray-400 font-black text-4xl">MF {course.id}</div>
      <div class="px-0 py-2 absolute top-0 right-0 text-gray-600 font-black text-xl">{duration}</div>
    </div>
    <div class="px-0 py-2  text-gray-300 font-black text-4xl md:text-5xl lg:text-6xl">{course.title}</div>

    {!course.src ?
      <img class="" src={course.img}> : 
      <VideoComponent poster={course.poster} src={course.src} alt={course.alt}/>
    }

    <!-- insert the rendered markdown -->
    {course.astro.html}

    {(!course.folder || !course.src) ? 
      "" : <GameComponent folder={course.folder} filePartial={course.filePartial}/>
    }
</CoursePage>
